<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCV8efUBh8k2aPfWdaYmGpWi0VFVABOACQ</string>
	<key>GCM_SENDER_ID</key>
	<string>517144691046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sweetpet.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sweetpet-e5c86</string>
	<key>STORAGE_BUCKET</key>
	<string>sweetpet-e5c86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517144691046:ios:1df32554f39a6b128c48a7</string>
</dict>
</plist>